@model BookViewModel
@{
    ViewBag.Title = Model.Title;
}

<h1>@Model.Title</h1>

<div id="bookDetails" class="row">
    <div class="col-md-2">
        <img src="@Model.ImageUrl" alt="@Model.Title" title="@Model.Title" class="img-rounded" />
    </div>
    <div class="col-md-5 col-md-offset-1">
        <h3>@Model.Author.FullName</h3>
        <p>Your Price: $@Model.SalePrice</p>
        <p>List Price: <span style="text-decoration: line-through">$@Model.ListPrice</span></p>
        <p class="label label-success">Save @Model.SavePercentage %</p>
        <p>@Model.Description</p>
    </div>
    <div class="col-md-2 col-md-offset-2 bg-info">
        <upsert-cart-item params="cartItem: cartItem, showButton: true"></upsert-cart-item>
    </div>
</div>

@Html.Partial("_CartItemForm")

<environment names="Development">
    <script src="~/js/ViewModels/BookDetailViewModel.js"></script>
</environment>
<environment names="Staging,Production">
    <script src="~/js/ViewModels/BookDetailViewModel.min.js"></script>
</environment>
<script>
    var viewModel = new BookDetailViewModel(@Html.HtmlConvertToJson(Model));
    ko.applyBindings(viewModel, document.getElementById("bookDetails"));
</script>
